body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:483px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13838 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:75px;
  width:375px;
  height:812px;
}
#u13838_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u13839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
  background:inherit;
  background-color:rgba(246, 248, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13839 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:75px;
  width:375px;
  height:812px;
}
#u13839_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u13840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13840 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:75px;
  width:375px;
  height:88px;
}
#u13840_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u13841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:2.66666674613953px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13844 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:92px;
  width:22px;
  height:11px;
  opacity:0.35;
}
#u13844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u13845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:5px;
}
#u13845 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:96px;
  width:1px;
  height:4px;
  opacity:0.4;
}
#u13845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u13846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:7px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:1.33333337306976px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13846 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:94px;
  width:18px;
  height:7px;
}
#u13846_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u13847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:11px;
}
#u13847 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:92px;
  width:15px;
  height:11px;
}
#u13847_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u13848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
}
#u13848 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:93px;
  width:17px;
  height:11px;
}
#u13848_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u13849 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u13850 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:89px;
  width:28px;
  height:18px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u13850_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u13851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13851 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:119px;
  width:375px;
  height:44px;
}
#u13851_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u13852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13854 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:131px;
  width:20px;
  height:20px;
  opacity:0;
}
#u13854_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u13855_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:19px;
  height:4px;
}
#u13855 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:141px;
  width:16px;
  height:1px;
}
#u13855_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u13856_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:9px;
  height:15px;
}
#u13856 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:135px;
  width:6px;
  height:12px;
}
#u13856_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u13857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
  text-align:left;
}
#u13857 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:130px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
  text-align:left;
}
#u13857_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u13859 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:433px;
  height:62px;
}
#u13859_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u13860 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:112px;
  width:30px;
  height:803px;
}
#u13860_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u13861 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:856px;
  width:373px;
  height:59px;
}
#u13861_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u13862 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:112px;
  width:30px;
  height:803px;
}
#u13862_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13863 {
  position:absolute;
  left:200px;
  top:871px;
}
#u13863_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:133px;
  height:6px;
  background-image:none;
}
#u13863_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:6px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u13865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:6px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u13865_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(141, 148, 154, 1);
  border:none;
  border-radius:0.5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13866 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:134px;
  width:1px;
  height:16px;
}
#u13866_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u13867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2777F8;
  text-align:left;
}
#u13867 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:131px;
  width:33px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#2777F8;
  text-align:left;
}
#u13867_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u13868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13868 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:531px;
  width:183px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13868_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u13869 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13870 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:161px;
}
#u13871 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:290px;
  width:282px;
  height:161px;
}
#u13871_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u13872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:61px;
  background:inherit;
  background-color:rgba(246, 248, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13872 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:446px;
  width:358px;
  height:61px;
}
#u13872_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:23px;
}
#u13875 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:446px;
  width:177px;
  height:23px;
}
#u13875_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u13876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:27px;
}
#u13877 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:390px;
  width:101px;
  height:27px;
  opacity:0.8;
}
#u13877_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u13878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:71px;
}
#u13878 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:403px;
  width:57px;
  height:71px;
}
#u13878_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u13879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:71px;
}
#u13879 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:403px;
  width:44px;
  height:71px;
}
#u13879_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u13880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:37px;
}
#u13880 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:403px;
  width:73px;
  height:37px;
}
#u13880_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u13881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:37px;
}
#u13881 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:403px;
  width:60px;
  height:37px;
}
#u13881_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u13882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u13883 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:417px;
  width:10px;
  height:16px;
}
#u13883_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u13884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13885 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
  background:-webkit-linear-gradient(82deg, rgba(106, 162, 255, 1) 0%, rgba(106, 162, 255, 1) 5%, rgba(227, 239, 255, 1) 70%, rgba(227, 239, 255, 1) 100%);
  background:-moz-linear-gradient(8deg, rgba(106, 162, 255, 1) 0%, rgba(106, 162, 255, 1) 5%, rgba(227, 239, 255, 1) 70%, rgba(227, 239, 255, 1) 100%);
  background:linear-gradient(8deg, rgba(106, 162, 255, 1) 0%, rgba(106, 162, 255, 1) 5%, rgba(227, 239, 255, 1) 70%, rgba(227, 239, 255, 1) 100%);
  border:none;
  border-radius:5.5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13886 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:464px;
  width:13px;
  height:12px;
}
#u13886_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u13887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
  background:-webkit-linear-gradient(231deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(229, 241, 255, 1) 88%, rgba(229, 241, 255, 1) 100%);
  background:-moz-linear-gradient(219deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(229, 241, 255, 1) 88%, rgba(229, 241, 255, 1) 100%);
  background:linear-gradient(219deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(229, 241, 255, 1) 88%, rgba(229, 241, 255, 1) 100%);
  border:none;
  border-radius:5.5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13887 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:463px;
  width:13px;
  height:12px;
}
#u13887_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u13888 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
  background:-webkit-linear-gradient(82deg, rgba(106, 162, 255, 1) 0%, rgba(106, 162, 255, 1) 5%, rgba(227, 239, 255, 1) 70%, rgba(227, 239, 255, 1) 100%);
  background:-moz-linear-gradient(8deg, rgba(106, 162, 255, 1) 0%, rgba(106, 162, 255, 1) 5%, rgba(227, 239, 255, 1) 70%, rgba(227, 239, 255, 1) 100%);
  background:linear-gradient(8deg, rgba(106, 162, 255, 1) 0%, rgba(106, 162, 255, 1) 5%, rgba(227, 239, 255, 1) 70%, rgba(227, 239, 255, 1) 100%);
  border:none;
  border-radius:5.5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13889 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:465px;
  width:13px;
  height:12px;
}
#u13889_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u13890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
  background:-webkit-linear-gradient(231deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(229, 241, 255, 1) 88%, rgba(229, 241, 255, 1) 100%);
  background:-moz-linear-gradient(219deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(229, 241, 255, 1) 88%, rgba(229, 241, 255, 1) 100%);
  background:linear-gradient(219deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(229, 241, 255, 1) 88%, rgba(229, 241, 255, 1) 100%);
  border:none;
  border-radius:5.5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13890 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:464px;
  width:13px;
  height:12px;
}
#u13890_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u13891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:25px;
}
#u13891 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:446px;
  width:39px;
  height:25px;
}
#u13891_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u13892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:30px;
}
#u13892 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:420px;
  width:55px;
  height:30px;
}
#u13892_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u13893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:84px;
}
#u13894 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:344px;
  width:87px;
  height:84px;
}
#u13894_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u13895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:84px;
}
#u13895 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:345px;
  width:87px;
  height:84px;
}
#u13895_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u13896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u13897 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:346px;
  width:9px;
  height:9px;
}
#u13897_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u13898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u13898 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:346px;
  width:9px;
  height:9px;
}
#u13898_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u13899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u13899 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:346px;
  width:9px;
  height:9px;
}
#u13899_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
